{% extends 'comman.html' %}
{% block title %}
User Signup
{% endblock %}
{% block content %}
<div class="container col-lg-8 ">
  <div class="card o-hidden border-0 shadow-lg my-3 ">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create User Account!</h1>
            </div>
            <div>
              {% for message in messages %}
              <h3 style="color: red;" >{{message}}</h3>
              {% endfor %}
            </div>
            <!-- registration form -->
            <form action="register" name="registration" method="post" class="user">
              {% csrf_token %}
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" name="first_name" class="form-control form-control-user" id="firstname" aria-describedby="emailHelp"
                  placeholder="Enter Firstname" required>
                </div>
                <div class="col-sm-6">
                  <input type="text" name="last_name" class="form-control form-control-user" id="lastname" aria-describedby="emailHelp"
                  placeholder="Enter Lastname" required>
                </div>
              </div>
               <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" name="username" class="form-control form-control-user" id="lastname" aria-describedby="emailHelp"
                placeholder="Enter Username" required>
                </div>
                <div class="col-sm-6">
                   <input type="email" name="email" class="form-control form-control-user" id="email" aria-describedby="emailHelp"
                placeholder="Enter email" required>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="password" name="password1" id="password" class="form-control form-control-user" aria-describedby="emailHelp"
                  placeholder="Enter Password" required>
                </div>
                <div class="col-sm-6">
                  <input type="password" name="password2" id="password" class="form-control form-control-user" aria-describedby="emailHelp"
                  placeholder="Confirm Password" required>
                </div>
              </div>
              
              <div class="col-md-12 text-center mb-3">
                <button type="submit" class="btn btn-primary btn-user btn-block">Sign Up</button>
              </div>
            </form>
            <hr>
            <div class="text-center">
              Already have an account?<a class="small" href="/login"> User Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}