{% extends 'common.html' %}
{% block content %}
<div class="p-2 col-md-6 ml-auto mr-auto">
    <div class="text-center">
        <h1 class="h5 text-gray-900 mb-3">Received Responses</h1>
    </div>
</div>
<div class="row">
    {% for x,y in myresponse%}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success  border-bottom-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        
                            <div class=" h5 font-weight-bold text-primary text-uppercase mb-1">{{x.Form_name}}</div>
                        
                        {% with number as forloop.counter %}
                        <div class="text-xm mb-0 font-weight-bold text-gray-800">Responses: {{ y }}
                        </div>
                        {% endwith %}
                    </div>
                    <div class="col-auto">
                     <span class="btn btn-sm" title="See responses">
                         <i class="fas fa-reply-all fa-2x text-gray-900"></i>
                     </span>
                 </div>
             </div>
         </div>
     </div>
 </div>
 {% endfor %}<br><hr>
</div> 
{% endblock content %}