i'm using django python web framework and below are my codes that save my form contains varios fields inform of questionaire, but now my views.py file codes save the response to MongoDb database using collection so pass through my codes especially views.py file and modify this view instead of saving to mongodb database now after getting all fields from the form save to Sqlite3 database .
i said based on my codes means models.py file, views.py file and my html tempates i need a full codes based on my codes instead of saving data to mongodb now i need to save them using Sqlite3 database in django so pass through my codes and implement thi issue i don't want to give me a new codes i need you to base on my previous codes please try to understand me.
my models.py codes are;
from django.db import models
from jsonfield import JSONField
from django.db import models
class Formtitle(models.Model):
    Form_name =models.CharField(max_length=100)
    User_id=models.IntegerField()
    Form_Url=models.CharField(max_length=100)
    def __str__(self):
        return self.Form_name
class Questions(models.Model):
    id = models.AutoField(primary_key=True)
    Form = models.ForeignKey(Formtitle, on_delete=models.CASCADE)
    question=models.CharField(max_length=100)
    answer=JSONField(max_length=200)
    type=models.CharField(max_length=100)
    option1=models.CharField(max_length=100,blank=True)
    option2=models.CharField(max_length=100,blank=True)
    option3=models.CharField(max_length=100,blank=True)
    option4=models.CharField(max_length=100,blank=True)    
    def __str__(self):
        return self.question

my views.py codes are;
#Saving response to mongodb db
def Save_Response(request):
    if request.user.is_authenticated and request.method=='POST':
        #input from html form
        responsesender=request.POST.get('responsesender',None)
        responsesendername=request.POST.get('responsesendername',None)  
        Formid=request.POST.get('Formid',None) 
        formname=request.POST.get('formname',None) 
        createruserid=request.POST.get('createruserid',None) 
        Questionid=request.POST.getlist('Questionid',None)
        no=request.POST.getlist('no',None)
        typee=request.POST.getlist('type',None)        
        questions=[]
        #formatting response
        for i in range(len(Questionid)):
            questionn=[]
            Qt=Questions.objects.filter(id=Questionid[i])
            questionn.append(Qt[0].question)
            fi=Formtitle.objects.filter(id=Formid)
            noo=request.POST.getlist(no[i],None)
            questionn.append(noo)
            questions.append(questionn) 
        doc={'Form_id':Formid,
             'Submit_Time':datetime.datetime.now(),
             'Form_name':formname,
             'User_id':createruserid,
             'Response_User_id':responsesender,
             'Question':questions,
             }
        #saving response to db     
        docin=collection.insert_one(doc)    #Insert only one data in collection
        messages.info(request,"Response Submitted Successfully")       
        #returning to success page  
        return redirect('/Submited_Response')
    elif request.user.is_authenticated:
        formids=Formtitle.objects.filter(User_id=request.user.id)
        responsecount=[]
        for x in formids:
            cursor=collection.find({"User_id":str(request.user.id),"Form_id":str(x.id)})
            responsecount.append(cursor.count())
        myresponse=zip(formids,responsecount)
        return render(request,'Response.html',{'formids':formids,'responsecount':responsecount,'myresponse':myresponse})
    else:
        return redirect('login')


 my html templates codes are;
 {% extends 'common.html' %}
{% block foruser %}
<div id="content-wrapper" class="d-flex flex-column bg-gradient-light">
    <div id="content "><br>
        <div class="container-fluid">
            <input type="hidden" value="http://127.0.0.1:8000/ViewForm?id={{url}}" id="myInput0">
            <form action="Save_Response" method="POST" name="add_name" id="add_name" >
                {% csrf_token %}
                <div class="col-md-6 h4 ml-auto mr-auto" style="text-transform: uppercase;"><center><b> {{Formname.0.Form_name}}</b>
                    <button onclick="myFunction('myInput0')" onmouseout="outFunc()" class="btn btn-sm" title="Copy Url">
                        <i class="fas fa-share-square fa-2x text-gray-900"></i>
                    </button> </center>
                </div>
                <div class="col-md-6 h6 ml-auto mr-auto" style="text-transform: uppercase;"><center>
                    {{ user.first_name }} {{ user.last_name }} | 
                    <a href="logout" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>Logout</a>
                    </center>
                </div>
                <input type='hidden' name='responsesendername' value="{{ user.first_name }} {{ user.last_name }}">
                <input type='hidden' name='responsesender' value="{{ user.first_name }} {{ user.last_name }}">
                <input type='hidden' name='Formid' value="{{Formname.0.id}}">
                <input type='hidden' name='formname' value="{{Formname.0.Form_name}}">
                <input type='hidden' name='createruserid' value="{{Formname.0.User_id}}">
                {% for x in USerForm %}
                <div class="table col-md-5 ml-auto mr-auto bg-gradient-info " style="border-radius: 25px;"> 
                    <table style="border: none; border-collapse: collapse;" id="dynamic_field" width="100%">
                        {% if x.type == "radio" %}
                        <tr>
                            <td>
                                <div class="row mb-2 h4 text-white">{{x.question}}
                                <input type="hidden" name="no" value="{{ forloop.counter }}">
                                <input type="hidden" name="Questionid" value="{{ x.id }}">
                                <input type="hidden" name="type" value="{{ x.type }}">
                                </div><div class="row mb-2 text-white"><input type="radio" name="{{ forloop.counter }}" value="{{x.option1}}" class="form-control col-1"/>
                                    {{x.option1}}
                                </div><div class="row mb-2 text-white"><input type="radio" name="{{ forloop.counter }}" value="{{x.option2}}" class="form-control col-1"/>
                                    {{x.option2}}
                                </div>                                
                {% if x.option3 != '' %} 
                <div class="row mb-2 text-white"><input type="radio" name="{{ forloop.counter }}" value="{{x.option3}}" class="form-control col-1"/>
                                    {{x.option3}}
                                </div>
                {% endif %}
                {% if x.option4 != '' %} 
                <div class="row mb-2 text-white">
                <input type="radio" name="{{ forloop.counter }}" value="{{x.option4}}" class="form-control col-1"/>
                                    {{x.option4}}
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if x.type == 'checkbox' %}
                        <tr>
                            <td>
                                <div class="row mb-2 h4 text-white">{{x.question}}
                                <input type="hidden" name="no" value="{{ forloop.counter }}">
                                <input type="hidden" name="Questionid" value="{{ x.id }}">
                                <input type="hidden" name="type" value="{{ x.type }}">
                                </div><div class="row mb-2 text-white 5"><input type="checkbox" name="{{ forloop.counter }}" value="{{x.option1}}" class="form-control btn-sm col-1"/>
                                    {{x.option1}}
                                </div>
                                <div class="row mb-2 text-white"><input type="checkbox" name="{{ forloop.counter }}" value="{{x.option2}}" class="form-control col-1"/> 
                                    {{x.option2}}
                                </div>
                                {% if x.option3 != '' %} 
                                <div class="row mb-2 text-white">
                                    <input type="checkbox" name="{{ forloop.counter }}" value="{{x.option3}}" class="form-control col-1"/>
                                    {{x.option3}}
                                </div>
                                {% endif %}
                                {% if x.option4 != '' %} 
                                <div class="row mb-2 text-white"><input type="checkbox" name="{{ forloop.counter }}" value="{{x.option4}}" class="form-control col-1"/>
                                    {{x.option4}}
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if x.type == 'oneline' %}
                        <tr>
                            <td>
                                <div class="row mb-2 h4 text-white">{{x.question}}
                                <input type="hidden" name="no" value="{{ forloop.counter }}">
                                <input type="hidden" name="Questionid" value="{{ x.id }}">
                                <input type="hidden" name="type" value="{{ x.type }}">
                                </div><div class="row mb-2 text-white 5"><input type="text" name="{{ forloop.counter }}" value="" class="form-control form-control-user" placeholder="Enter your Answer"/>
                                    {{x.option1}}
                                </div>
                                
                            </td>
                        </tr>
                        {% endif %}
                        {% if x.type == 'textarea' %}
                        <tr>
                            <td>
                                <div class="row mb-2 h4 text-white">{{x.question}}
                                <input type="hidden" name="no" value="{{ forloop.counter }}">
                                <input type="hidden" name="Questionid" value="{{ x.id }}">
                                <input type="hidden" name="type" value="{{ x.type }}">
                                </div><div class="row mb-2 text-white 5"><textarea type="text" name="{{ forloop.counter }}" value="" class="form-control form-control-user" rows='3' placeholder="Enter your Answer"></textarea>
                                    {{x.option1}}
                                </div>
                                
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
                {% endfor %}
                <div class="table col-md-5 ml-auto mr-auto mb-2"> 
                    <input type="submit" class="btn btn-info btn-lg btn-block"  style="border-radius: 30px;" id="submit" value="submit" />
                </div>
            </form>
            {% endblock foruser %}  